# Data Wrangling



# Organizar datos

Otra de las fases del proceso de data wrangling consiste en dar una estructura a los datos, normálmente esta fase conlleva las siguientes operaciones:

- Establecer índices, renombrar columnas.

- Ordenar valores.

- Eliminar duplicados

- Filtrar información

- Añadir/eliminar registros y/o columnas.

- Editar información

- Modificar la estructura de los datos

## Establecer índices, renombrar columnas

In [1]:
import pandas as pd
import numpy as np
from collections import OrderedDict

In [33]:
path = "/home/bigdatafutura/notebooks/sesion 02/files/pokemon.csv"
pokemon = pd.read_csv(path)
pokemon.tail(5)

,Unnamed: 0,pokedex_number,name,german_name,japanese_name,generation,status,species,type_number,type_1,...,against_ground,against_flying,against_psychic,against_bug,against_rock,against_ghost,against_dragon,against_dark,against_steel,against_fairy
1023,1023,888,Zacian Hero of Many Battles,NaN,NaN,8,Legendary,Warrior Pokémon,1,Fairy,...,1.0,1.0,1.0,0.50,1.00,1.0,0.0,0.5,2.0,1.0
1024,1024,889,Zamazenta Crowned Shield,NaN,NaN,8,Legendary,Warrior Pokémon,2,Fighting,...,2.0,1.0,1.0,0.25,0.25,1.0,0.5,0.5,0.5,1.0
1025,1025,889,Zamazenta Hero of Many Battles,NaN,NaN,8,Legendary,Warrior Pokémon,1,Fighting,...,1.0,2.0,2.0,0.50,0.50,1.0,1.0,0.5,1.0,2.0
1026,1026,890,Eternatus,NaN,NaN,8,Legendary,Gigantic Pokémon,2,Poison,...,2.0,1.0,2.0,0.50,1.00,1.0,2.0,1.0,1.0,1.0
1027,1027,890,Eternatus Eternamax,NaN,NaN,8,Legendary,Gigantic Pokémon,2,Poison,...,2.0,1.0,2.0,0.50,1.00,1.0,2.0,1.0,1.0,1.0


En este caso podríamos querer usar el nombre (Name) como índice de la tabla, lo haríamos mediante el método `set_index()`

In [21]:
pokemon.set_index("name", inplace=True)
pokemon.head()

,Unnamed: 0,pokedex_number,german_name,japanese_name,generation,status,species,type_number,type_1,type_2,...,against_ground,against_flying,against_psychic,against_bug,against_rock,against_ghost,against_dragon,against_dark,against_steel,against_fairy
name,,,,,,,,,,,,,,,,,,,,,
Bulbasaur,0,1,Bisasam,フシギダネ (Fushigidane),1,Normal,Seed Pokémon,2,Grass,Poison,...,1.0,2.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,0.5
Ivysaur,1,2,Bisaknosp,フシギソウ (Fushigisou),1,Normal,Seed Pokémon,2,Grass,Poison,...,1.0,2.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,0.5
Venusaur,2,3,Bisaflor,フシギバナ (Fushigibana),1,Normal,Seed Pokémon,2,Grass,Poison,...,1.0,2.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,0.5
Mega Venusaur,3,3,Bisaflor,フシギバナ (Fushigibana),1,Normal,Seed Pokémon,2,Grass,Poison,...,1.0,2.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,0.5
Charmander,4,4,Glumanda,ヒトカゲ (Hitokage),1,Normal,Lizard Pokémon,1,Fire,NaN,...,2.0,1.0,1.0,0.5,2.0,1.0,1.0,1.0,0.5,0.5

In [ ]:
df=pokemon.set_index("Name", inplace=True)
df.tail()

In [22]:
pokemon.loc["Bulbasaur", ]

Unnamed: 0                            0
pokedex_number                        1
german_name                     Bisasam
japanese_name       フシギダネ (Fushigidane)
generation                            1
status                           Normal
species                    Seed Pokémon
type_number                           2
type_1                            Grass
type_2                           Poison
height_m                            0.7
weight_kg                           6.9
abilities_number                      2
ability_1                      Overgrow
ability_2                           NaN
ability_hidden              Chlorophyll
total_points                        318
hp                                   45
attack                               49
defense                              49
sp_attack                            65
sp_defense                           65
speed                                45
catch_rate                           45
base_friendship                      70
base_experience                      64
growth_rate                 Medium Slow
egg_type_number                       2
egg_type_1                        Grass
egg_type_2                      Monster
percentage_male                    87.5
egg_cycles                           20
against_normal                        1
against_fire                          2
against_water                       0.5
against_electric                    0.5
against_grass                      0.25
against_ice                           2
against_fight                       0.5
against_poison                        1
against_ground                        1
against_flying                        2
against_psychic                       2
against_bug                           1
against_rock                          1
against_ghost                         1
against_dragon                        1
against_dark                          1
against_steel                         1
against_fairy                       0.5
Name: Bulbasaur, dtype: object

Podemos volver al índice numérico con `reset_index`

In [25]:
pokemon.reset_index(inplace=True)
pokemon.head()

,level_0,index,name,Unnamed: 0,pokedex_number,german_name,japanese_name,generation,status,species,...,against_ground,against_flying,against_psychic,against_bug,against_rock,against_ghost,against_dragon,against_dark,against_steel,against_fairy
0,0,0,Bulbasaur,0,1,Bisasam,フシギダネ (Fushigidane),1,Normal,Seed Pokémon,...,1.0,2.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,0.5
1,1,1,Ivysaur,1,2,Bisaknosp,フシギソウ (Fushigisou),1,Normal,Seed Pokémon,...,1.0,2.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,0.5
2,2,2,Venusaur,2,3,Bisaflor,フシギバナ (Fushigibana),1,Normal,Seed Pokémon,...,1.0,2.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,0.5
3,3,3,Mega Venusaur,3,3,Bisaflor,フシギバナ (Fushigibana),1,Normal,Seed Pokémon,...,1.0,2.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,0.5
4,4,4,Charmander,4,4,Glumanda,ヒトカゲ (Hitokage),1,Normal,Lizard Pokémon,...,2.0,1.0,1.0,0.5,2.0,1.0,1.0,1.0,0.5,0.5

Para modificar el nombre de las columnas tenemos estas opciones

In [26]:
pokemon.columns

Index(['level_0', 'index', 'name', 'Unnamed: 0', 'pokedex_number',
       'german_name', 'japanese_name', 'generation', 'status', 'species',
       'type_number', 'type_1', 'type_2', 'height_m', 'weight_kg',
       'abilities_number', 'ability_1', 'ability_2', 'ability_hidden',
       'total_points', 'hp', 'attack', 'defense', 'sp_attack', 'sp_defense',
       'speed', 'catch_rate', 'base_friendship', 'base_experience',
       'growth_rate', 'egg_type_number', 'egg_type_1', 'egg_type_2',
       'percentage_male', 'egg_cycles', 'against_normal', 'against_fire',
       'against_water', 'against_electric', 'against_grass', 'against_ice',
       'against_fight', 'against_poison', 'against_ground', 'against_flying',
       'against_psychic', 'against_bug', 'against_rock', 'against_ghost',
       'against_dragon', 'against_dark', 'against_steel', 'against_fairy'],
      dtype='object')

In [11]:
pokemon.columns = ['Nombre', 'Unnamed: 0', 'pokedex_number', 'german_name', 'japanese_name',
       'generation', 'status', 'species', 'type_number', 'type_1', 'type_2',
       'height_m', 'weight_kg', 'abilities_number', 'ability_1', 'ability_2',
       'ability_hidden', 'total_points', 'hp', 'attack', 'defense',
       'sp_attack', 'sp_defense', 'speed', 'catch_rate', 'base_friendship',
       'base_experience', 'growth_rate', 'egg_type_number', 'egg_type_1',
       'egg_type_2', 'percentage_male', 'egg_cycles', 'against_normal',
       'against_fire', 'against_water', 'against_electric', 'against_grass',
       'against_ice', 'against_fight', 'against_poison', 'against_ground',
       'against_flying', 'against_psychic', 'against_bug', 'against_rock',
       'against_ghost', 'against_dragon', 'against_dark', 'against_steel',
       'against_fairy']
pokemon.columns

Index(['Nombre', 'Unnamed: 0', 'pokedex_number', 'german_name',
       'japanese_name', 'generation', 'status', 'species', 'type_number',
       'type_1', 'type_2', 'height_m', 'weight_kg', 'abilities_number',
       'ability_1', 'ability_2', 'ability_hidden', 'total_points', 'hp',
       'attack', 'defense', 'sp_attack', 'sp_defense', 'speed', 'catch_rate',
       'base_friendship', 'base_experience', 'growth_rate', 'egg_type_number',
       'egg_type_1', 'egg_type_2', 'percentage_male', 'egg_cycles',
       'against_normal', 'against_fire', 'against_water', 'against_electric',
       'against_grass', 'against_ice', 'against_fight', 'against_poison',
       'against_ground', 'against_flying', 'against_psychic', 'against_bug',
       'against_rock', 'against_ghost', 'against_dragon', 'against_dark',
       'against_steel', 'against_fairy'],
      dtype='object')

In [15]:
pokemon.rename(columns={"Nombre":"Name"}, inplace=True)
pokemon.columns

Index(['Name', 'Unnamed: 0', 'pokedex_number', 'german_name', 'japanese_name',
       'generation', 'status', 'species', 'type_number', 'type_1', 'type_2',
       'height_m', 'weight_kg', 'abilities_number', 'ability_1', 'ability_2',
       'ability_hidden', 'total_points', 'hp', 'attack', 'defense',
       'sp_attack', 'sp_defense', 'speed', 'catch_rate', 'base_friendship',
       'base_experience', 'growth_rate', 'egg_type_number', 'egg_type_1',
       'egg_type_2', 'percentage_male', 'egg_cycles', 'against_normal',
       'against_fire', 'against_water', 'against_electric', 'against_grass',
       'against_ice', 'against_fight', 'against_poison', 'against_ground',
       'against_flying', 'against_psychic', 'against_bug', 'against_rock',
       'against_ghost', 'against_dragon', 'against_dark', 'against_steel',
       'against_fairy'],
      dtype='object')

El método rename también permite modificar el nombre del índice de un registro, como vemos en el siguiente ejemplo.

In [28]:
pokemon.head(4)

,level_0,index,name,Unnamed: 0,pokedex_number,german_name,japanese_name,generation,status,species,...,against_ground,against_flying,against_psychic,against_bug,against_rock,against_ghost,against_dragon,against_dark,against_steel,against_fairy
0,0,0,Bulbasaur,0,1,Bisasam,フシギダネ (Fushigidane),1,Normal,Seed Pokémon,...,1.0,2.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,0.5
1,1,1,Ivysaur,1,2,Bisaknosp,フシギソウ (Fushigisou),1,Normal,Seed Pokémon,...,1.0,2.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,0.5
2,2,2,Venusaur,2,3,Bisaflor,フシギバナ (Fushigibana),1,Normal,Seed Pokémon,...,1.0,2.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,0.5
3,3,3,Mega Venusaur,3,3,Bisaflor,フシギバナ (Fushigibana),1,Normal,Seed Pokémon,...,1.0,2.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,0.5

In [29]:
pokemon.rename(index={1:3}, inplace=True)
pokemon.head(4)

,level_0,index,name,Unnamed: 0,pokedex_number,german_name,japanese_name,generation,status,species,...,against_ground,against_flying,against_psychic,against_bug,against_rock,against_ghost,against_dragon,against_dark,against_steel,against_fairy
0,0,0,Bulbasaur,0,1,Bisasam,フシギダネ (Fushigidane),1,Normal,Seed Pokémon,...,1.0,2.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,0.5
3,1,1,Ivysaur,1,2,Bisaknosp,フシギソウ (Fushigisou),1,Normal,Seed Pokémon,...,1.0,2.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,0.5
2,2,2,Venusaur,2,3,Bisaflor,フシギバナ (Fushigibana),1,Normal,Seed Pokémon,...,1.0,2.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,0.5
3,3,3,Mega Venusaur,3,3,Bisaflor,フシギバナ (Fushigibana),1,Normal,Seed Pokémon,...,1.0,2.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,0.5

In [30]:
pokemon.loc[3, ]

,level_0,index,name,Unnamed: 0,pokedex_number,german_name,japanese_name,generation,status,species,...,against_ground,against_flying,against_psychic,against_bug,against_rock,against_ghost,against_dragon,against_dark,against_steel,against_fairy
3,1,1,Ivysaur,1,2,Bisaknosp,フシギソウ (Fushigisou),1,Normal,Seed Pokémon,...,1.0,2.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,0.5
3,3,3,Mega Venusaur,3,3,Bisaflor,フシギバナ (Fushigibana),1,Normal,Seed Pokémon,...,1.0,2.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,0.5

In [ ]:
pokemon.reset_index(inplace=True)

## Ordernar

Ordenar de forma ascendete/descendente en función de los datos o índices que acabamos de crear, es útil para otras operaciones ya que acelera las búsquedas dentro del dataset

In [36]:
pokemon.set_index("name", inplace=True)
pokemon.head(3)

KeyError: "None of ['name'] are in the columns"

In [37]:
pokemon.sort_index(inplace=True)
pokemon.head(3)

,Unnamed: 0,pokedex_number,german_name,japanese_name,generation,status,species,type_number,type_1,type_2,...,against_ground,against_flying,against_psychic,against_bug,against_rock,against_ghost,against_dragon,against_dark,against_steel,against_fairy
name,,,,,,,,,,,,,,,,,,,,,
Abomasnow,542,460,Rexblisar,ユキノオー (Yukinooh),4,Normal,Frost Tree Pokémon,2,Grass,Ice,...,0.5,2.0,1.0,2.0,2.0,1.0,1.0,1.0,2.0,1.0
Abra,81,63,Abra,ケーシィ (Casey),1,Normal,Psi Pokémon,1,Psychic,NaN,...,1.0,1.0,0.5,2.0,1.0,2.0,1.0,2.0,1.0,1.0
Absol,424,359,Absol,アブソル (Absol),3,Normal,Disaster Pokémon,1,Dark,NaN,...,1.0,1.0,0.0,2.0,1.0,0.5,1.0,0.5,1.0,2.0

In [39]:
pokemon.sort_index(ascending=True).head(3)

,Unnamed: 0,pokedex_number,german_name,japanese_name,generation,status,species,type_number,type_1,type_2,...,against_ground,against_flying,against_psychic,against_bug,against_rock,against_ghost,against_dragon,against_dark,against_steel,against_fairy
name,,,,,,,,,,,,,,,,,,,,,
Abomasnow,542,460,Rexblisar,ユキノオー (Yukinooh),4,Normal,Frost Tree Pokémon,2,Grass,Ice,...,0.5,2.0,1.0,2.0,2.0,1.0,1.0,1.0,2.0,1.0
Abra,81,63,Abra,ケーシィ (Casey),1,Normal,Psi Pokémon,1,Psychic,NaN,...,1.0,1.0,0.5,2.0,1.0,2.0,1.0,2.0,1.0,1.0
Absol,424,359,Absol,アブソル (Absol),3,Normal,Disaster Pokémon,1,Dark,NaN,...,1.0,1.0,0.0,2.0,1.0,0.5,1.0,0.5,1.0,2.0

Igualmente podemos ordenar en funcion de los valores de las columnas

In [40]:
pokemon.sort_values("japanese_name").head()

,Unnamed: 0,pokedex_number,german_name,japanese_name,generation,status,species,type_number,type_1,type_2,...,against_ground,against_flying,against_psychic,against_bug,against_rock,against_ghost,against_dragon,against_dark,against_steel,against_fairy
name,,,,,,,,,,,,,,,,,,,,,
Durant,731,632,Fermicula,アイアント (Aiant),5,Normal,Iron Ant Pokémon,2,Bug,Steel,...,1.0,1.0,0.5,0.5,1.0,1.0,0.5,1.0,0.5,0.5
Accelgor,715,617,Hydragil,アギルダー (Agilder),5,Normal,Shell Out Pokémon,1,Bug,NaN,...,0.5,2.0,1.0,1.0,2.0,1.0,1.0,1.0,1.0,1.0
Guzzlord,926,799,Schlingking,アクジキング (Akuziking),7,Sub Legendary,Junkivore Pokémon,2,Dark,Dragon,...,1.0,1.0,0.0,2.0,1.0,0.5,2.0,0.5,1.0,4.0
Azelf,571,482,Tobutz,アグノム (Agnome),4,Sub Legendary,Willpower Pokémon,1,Psychic,NaN,...,0.0,1.0,0.5,2.0,1.0,2.0,1.0,2.0,1.0,1.0
Beautifly,319,267,Papinella,アゲハント (Agehunt),3,Normal,Butterfly Pokémon,2,Bug,Flying,...,0.0,2.0,1.0,0.5,4.0,1.0,1.0,1.0,1.0,1.0

In [25]:
pokemon.sort_values(["japanese_name", "status"], ascending=[True, False]).head()

,index,Unnamed: 0,pokedex_number,german_name,japanese_name,generation,status,species,type_number,type_1,...,against_ground,against_flying,against_psychic,against_bug,against_rock,against_ghost,against_dragon,against_dark,against_steel,against_fairy
Name,,,,,,,,,,,,,,,,,,,,,
Durant,731,731,632,Fermicula,アイアント (Aiant),5,Normal,Iron Ant Pokémon,2,Bug,...,1.0,1.0,0.5,0.5,1.0,1.0,0.5,1.0,0.5,0.5
Accelgor,715,715,617,Hydragil,アギルダー (Agilder),5,Normal,Shell Out Pokémon,1,Bug,...,0.5,2.0,1.0,1.0,2.0,1.0,1.0,1.0,1.0,1.0
Guzzlord,926,926,799,Schlingking,アクジキング (Akuziking),7,Sub Legendary,Junkivore Pokémon,2,Dark,...,1.0,1.0,0.0,2.0,1.0,0.5,2.0,0.5,1.0,4.0
Azelf,571,571,482,Tobutz,アグノム (Agnome),4,Sub Legendary,Willpower Pokémon,1,Psychic,...,0.0,1.0,0.5,2.0,1.0,2.0,1.0,2.0,1.0,1.0
Beautifly,319,319,267,Papinella,アゲハント (Agehunt),3,Normal,Butterfly Pokémon,2,Bug,...,0.0,2.0,1.0,0.5,4.0,1.0,1.0,1.0,1.0,1.0

## Eliminar duplicados

Todos dataset son susceptibles de tener registros duplicados, total o parcialmente, lo que según cada caso puede tener sentido o no. Veamos como identificarlos y tratarlos.

In [26]:
pokemon.duplicated()

Name
Abomasnow                 False
Abra                      False
Absol                     False
Accelgor                  False
Aegislash Blade Forme     False
                          ...
Zubat                     False
Zweilous                  False
Zygarde 10% Forme         False
Zygarde 50% Forme         False
Zygarde Complete Forme    False
Length: 1028, dtype: bool

In [27]:
pokemon.reset_index(inplace=True)

In [28]:
pokemon["Name"].duplicated().any()

False

In [31]:
pokemon["type_1"].duplicated().any()

True

In [33]:
pokemon.sort_values("type_1").head()

,Name,index,Unnamed: 0,pokedex_number,german_name,japanese_name,generation,status,species,type_number,...,against_ground,against_flying,against_psychic,against_bug,against_rock,against_ghost,against_dragon,against_dark,against_steel,against_fairy
109,Buzzwole,921,921,794,Masskito,マッシブーン (Massivoon),7,Sub Legendary,Swollen Pokémon,2,...,0.5,4.0,2.0,0.5,1.0,1.0,1.0,0.5,1.0,2.0
575,Mega Scizor,255,255,212,Scherox,ハッサム (Hassam),2,Normal,Pincer Pokémon,2,...,1.0,1.0,0.5,0.5,1.0,1.0,0.5,1.0,0.5,0.5
118,Cascoon,320,320,268,Panekon,マユルド (Mayuld),3,Normal,Cocoon Pokémon,1,...,0.5,2.0,1.0,1.0,2.0,1.0,1.0,1.0,1.0,1.0
593,Metapod,14,14,11,Safcon,トランセル (Transel),1,Normal,Cocoon Pokémon,1,...,0.5,2.0,1.0,1.0,2.0,1.0,1.0,1.0,1.0,1.0
616,Mothim,493,493,414,Moterpel,ガーメイル (Gamale),4,Normal,Moth Pokémon,2,...,0.0,2.0,1.0,0.5,4.0,1.0,1.0,1.0,1.0,1.0

Para eliminar los registros duplicados usamos `drop_duplicates`, que requiere el parámetro inplace=True para modificar el dataset original.

In [34]:
pokemon.drop_duplicates()

,Name,index,Unnamed: 0,pokedex_number,german_name,japanese_name,generation,status,species,type_number,...,against_ground,against_flying,against_psychic,against_bug,against_rock,against_ghost,against_dragon,against_dark,against_steel,against_fairy
0,Abomasnow,542,542,460,Rexblisar,ユキノオー (Yukinooh),4,Normal,Frost Tree Pokémon,2,...,0.5,2.0,1.0,2.00,2.0,1.0,1.0,1.0,2.0,1.0
1,Abra,81,81,63,Abra,ケーシィ (Casey),1,Normal,Psi Pokémon,1,...,1.0,1.0,0.5,2.00,1.0,2.0,1.0,2.0,1.0,1.0
2,Absol,424,424,359,Absol,アブソル (Absol),3,Normal,Disaster Pokémon,1,...,1.0,1.0,0.0,2.00,1.0,0.5,1.0,0.5,1.0,2.0
3,Accelgor,715,715,617,Hydragil,アギルダー (Agilder),5,Normal,Shell Out Pokémon,1,...,0.5,2.0,1.0,1.00,2.0,1.0,1.0,1.0,1.0,1.0
4,Aegislash Blade Forme,789,789,681,Durengard,ギルガルド (Gillgard),6,Normal,Royal Sword Pokémon,2,...,2.0,0.5,0.5,0.25,0.5,2.0,0.5,2.0,0.5,0.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1023,Zubat,54,54,41,Zubat,ズバット (Zubat),1,Normal,Bat Pokémon,2,...,0.0,1.0,2.0,0.25,2.0,1.0,1.0,1.0,1.0,0.5
1024,Zweilous,733,733,634,Duodino,ジヘッド (Dihead),5,Normal,Hostile Pokémon,2,...,1.0,1.0,0.0,2.00,1.0,0.5,2.0,0.5,1.0,4.0
1025,Zygarde 10% Forme,834,834,718,Zygarde,ジガルデ (Zygarde),6,Legendary,Order Pokémon,2,...,1.0,1.0,1.0,1.00,0.5,1.0,2.0,1.0,1.0,2.0
1026,Zygarde 50% Forme,833,833,718,Zygarde,ジガルデ (Zygarde),6,Legendary,Order Pokémon,2,...,1.0,1.0,1.0,1.00,0.5,1.0,2.0,1.0,1.0,2.0
1027,Zygarde Complete Forme,835,835,718,Zygarde,ジガルデ (Zygarde),6,Legendary,Order Pokémon,2,...,1.0,1.0,1.0,1.00,0.5,1.0,2.0,1.0,1.0,2.0

In [36]:
pokemon.drop_duplicates(subset=["type_1"], keep="first").head(3)

,Name,index,Unnamed: 0,pokedex_number,german_name,japanese_name,generation,status,species,type_number,...,against_ground,against_flying,against_psychic,against_bug,against_rock,against_ghost,against_dragon,against_dark,against_steel,against_fairy
0,Abomasnow,542,542,460,Rexblisar,ユキノオー (Yukinooh),4,Normal,Frost Tree Pokémon,2,...,0.5,2.0,1.0,2.0,2.0,1.0,1.0,1.0,2.0,1.0
1,Abra,81,81,63,Abra,ケーシィ (Casey),1,Normal,Psi Pokémon,1,...,1.0,1.0,0.5,2.0,1.0,2.0,1.0,2.0,1.0,1.0
2,Absol,424,424,359,Absol,アブソル (Absol),3,Normal,Disaster Pokémon,1,...,1.0,1.0,0.0,2.0,1.0,0.5,1.0,0.5,1.0,2.0

In [37]:
pokemon.drop_duplicates?

In [39]:
print(pokemon.shape)
print(pokemon.drop_duplicates(subset=["type_1"], keep="first").shape)

(1028, 52)
(18, 52)

## Aplicar filtros

Aplicar filtros sobre los datos es muy útil de cara a conocer como se distribuyen nuestros datos y con ello realizar transformaciones sobre los mismos

In [40]:
pokemon[pokemon["pokedex_number"] > 150]

,Name,index,Unnamed: 0,pokedex_number,german_name,japanese_name,generation,status,species,type_number,...,against_ground,against_flying,against_psychic,against_bug,against_rock,against_ghost,against_dragon,against_dark,against_steel,against_fairy
0,Abomasnow,542,542,460,Rexblisar,ユキノオー (Yukinooh),4,Normal,Frost Tree Pokémon,2,...,0.5,2.0,1.0,2.00,2.0,1.0,1.0,1.0,2.0,1.0
2,Absol,424,424,359,Absol,アブソル (Absol),3,Normal,Disaster Pokémon,1,...,1.0,1.0,0.0,2.00,1.0,0.5,1.0,0.5,1.0,2.0
3,Accelgor,715,715,617,Hydragil,アギルダー (Agilder),5,Normal,Shell Out Pokémon,1,...,0.5,2.0,1.0,1.00,2.0,1.0,1.0,1.0,1.0,1.0
4,Aegislash Blade Forme,789,789,681,Durengard,ギルガルド (Gillgard),6,Normal,Royal Sword Pokémon,2,...,2.0,0.5,0.5,0.25,0.5,2.0,0.5,2.0,0.5,0.5
5,Aegislash Shield Forme,790,790,681,Durengard,ギルガルド (Gillgard),6,Normal,Royal Sword Pokémon,2,...,2.0,0.5,0.5,0.25,0.5,2.0,0.5,2.0,0.5,0.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1022,Zorua,668,668,570,Zorua,ゾロア (Zorua),5,Normal,Tricky Fox Pokémon,1,...,1.0,1.0,0.0,2.00,1.0,0.5,1.0,0.5,1.0,2.0
1024,Zweilous,733,733,634,Duodino,ジヘッド (Dihead),5,Normal,Hostile Pokémon,2,...,1.0,1.0,0.0,2.00,1.0,0.5,2.0,0.5,1.0,4.0
1025,Zygarde 10% Forme,834,834,718,Zygarde,ジガルデ (Zygarde),6,Legendary,Order Pokémon,2,...,1.0,1.0,1.0,1.00,0.5,1.0,2.0,1.0,1.0,2.0
1026,Zygarde 50% Forme,833,833,718,Zygarde,ジガルデ (Zygarde),6,Legendary,Order Pokémon,2,...,1.0,1.0,1.0,1.00,0.5,1.0,2.0,1.0,1.0,2.0
1027,Zygarde Complete Forme,835,835,718,Zygarde,ジガルデ (Zygarde),6,Legendary,Order Pokémon,2,...,1.0,1.0,1.0,1.00,0.5,1.0,2.0,1.0,1.0,2.0

In [41]:
pokemon[(pokemon["pokedex_number"] > 150) & (pokemon["type_1"] == "Psychic")].head()

,Name,index,Unnamed: 0,pokedex_number,german_name,japanese_name,generation,status,species,type_number,...,against_ground,against_flying,against_psychic,against_bug,against_rock,against_ghost,against_dragon,against_dark,against_steel,against_fairy
57,Azelf,571,571,482,Tobutz,アグノム (Agnome),4,Sub Legendary,Willpower Pokémon,1,...,0.0,1.0,0.5,2.0,1.0,2.0,1.0,2.0,1.0,1.0
73,Beheeyem,704,704,606,Megalon,オーベム (Ohbem),5,Normal,Cerebral Pokémon,1,...,1.0,1.0,0.5,2.0,1.0,2.0,1.0,2.0,1.0,1.0
124,Celebi,298,298,251,Celebi,セレビィ (Celebi),2,Mythical,Time Travel Pokémon,2,...,0.5,2.0,0.5,4.0,1.0,2.0,1.0,2.0,1.0,1.0
141,Chimecho,423,423,358,Palimpalim,チリーン (Chirean),3,Normal,Wind Chime Pokémon,1,...,0.0,1.0,0.5,2.0,1.0,2.0,1.0,2.0,1.0,1.0
143,Chingling,513,513,433,Klingplim,リーシャン (Lisyan),4,Normal,Bell Pokémon,1,...,0.0,1.0,0.5,2.0,1.0,2.0,1.0,2.0,1.0,1.0

In [42]:
pokemon[(pokemon["pokedex_number"] > 150) & (pokemon["type_1"].isin(["Psychic", 'Dark']))].head()

,Name,index,Unnamed: 0,pokedex_number,german_name,japanese_name,generation,status,species,type_number,...,against_ground,against_flying,against_psychic,against_bug,against_rock,against_ghost,against_dragon,against_dark,against_steel,against_fairy
2,Absol,424,424,359,Absol,アブソル (Absol),3,Normal,Disaster Pokémon,1,...,1.0,1.0,0.0,2.0,1.0,0.5,1.0,0.5,1.0,2.0
57,Azelf,571,571,482,Tobutz,アグノム (Agnome),4,Sub Legendary,Willpower Pokémon,1,...,0.0,1.0,0.5,2.0,1.0,2.0,1.0,2.0,1.0,1.0
73,Beheeyem,704,704,606,Megalon,オーベム (Ohbem),5,Normal,Cerebral Pokémon,1,...,1.0,1.0,0.5,2.0,1.0,2.0,1.0,2.0,1.0,1.0
82,Bisharp,724,724,625,Caesurio,キリキザン (Kirikizan),5,Normal,Sword Blade Pokémon,2,...,2.0,0.5,0.0,1.0,0.5,0.5,0.5,0.5,0.5,1.0
124,Celebi,298,298,251,Celebi,セレビィ (Celebi),2,Mythical,Time Travel Pokémon,2,...,0.5,2.0,0.5,4.0,1.0,2.0,1.0,2.0,1.0,1.0

In [43]:
pokemon["pokedex_number"].between(110, 150).head()

0    False
1    False
2    False
3    False
4    False
Name: pokedex_number, dtype: bool

In [44]:
pokemon[pokemon["pokedex_number"].between(110, 150)].head()

,Name,index,Unnamed: 0,pokedex_number,german_name,japanese_name,generation,status,species,type_number,...,against_ground,against_flying,against_psychic,against_bug,against_rock,against_ghost,against_dragon,against_dark,against_steel,against_fairy
6,Aerodactyl,179,179,142,Aerodactyl,プテラ (Ptera),1,Normal,Fossil Pokémon,2,...,0.0,0.5,1.0,0.5,2.0,1.0,1.0,1.0,2.0,1.0
51,Articuno,182,182,144,Arktos,フリーザー (Freezer),1,Sub Legendary,Freeze Pokémon,2,...,0.0,1.0,1.0,0.5,4.0,1.0,1.0,1.0,2.0,1.0
128,Chansey,145,145,113,Chaneira,ラッキー (Lucky),1,Normal,Egg Pokémon,1,...,1.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0
215,Ditto,168,168,132,Ditto,メタモン (Metamon),1,Normal,Transform Pokémon,1,...,1.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0
225,Dragonair,186,186,148,Dragonir,ハクリュー (Hakuryu),1,Normal,Dragon Pokémon,1,...,1.0,1.0,1.0,1.0,1.0,1.0,2.0,1.0,1.0,2.0

Los operadores lógicos se resumen en esta imagen

<center><img src="img/logicaloperators.png"></center>

Hasta ahora hemos visto como realizar filtros sobre el contenido, pero si queremos seleccionar por filas es necesario recurrir a los métodos `.iloc[], .loc[], .ix[]`

Recordamos que .iloc[] realiza la selección de registros por el índice numérico, .loc[] a través de la etiqueta del índice e .ix[] permite el uso tanto de etiquetas como de valores numéricos, sin embargo, no se recomienda su uso ya que se encuentra deprecado desde la versión 0.20.0 de Pandas.

Veamos algunos ejemplos de selección de registros con .iloc[] y .loc[]

In [45]:
pokemon.head(2)

,Name,index,Unnamed: 0,pokedex_number,german_name,japanese_name,generation,status,species,type_number,...,against_ground,against_flying,against_psychic,against_bug,against_rock,against_ghost,against_dragon,against_dark,against_steel,against_fairy
0,Abomasnow,542,542,460,Rexblisar,ユキノオー (Yukinooh),4,Normal,Frost Tree Pokémon,2,...,0.5,2.0,1.0,2.0,2.0,1.0,1.0,1.0,2.0,1.0
1,Abra,81,81,63,Abra,ケーシィ (Casey),1,Normal,Psi Pokémon,1,...,1.0,1.0,0.5,2.0,1.0,2.0,1.0,2.0,1.0,1.0

In [46]:
pokemon.iloc[0]

Name                         Abomasnow
index                              542
Unnamed: 0                         542
pokedex_number                     460
german_name                  Rexblisar
japanese_name         ユキノオー (Yukinooh)
generation                           4
status                          Normal
species             Frost Tree Pokémon
type_number                          2
type_1                           Grass
type_2                             Ice
height_m                           2.2
weight_kg                        135.5
abilities_number                     2
ability_1                 Snow Warning
ability_2                          NaN
ability_hidden              Soundproof
total_points                       494
hp                                  90
attack                              92
defense                             75
sp_attack                           92
sp_defense                          85
speed                               60
catch_rate                          60
base_friendship                     70
base_experience                    173
growth_rate                       Slow
egg_type_number                      2
egg_type_1                       Grass
egg_type_2                     Monster
percentage_male                     50
egg_cycles                          20
against_normal                       1
against_fire                         4
against_water                      0.5
against_electric                   0.5
against_grass                      0.5
against_ice                          1
against_fight                        2
against_poison                       2
against_ground                     0.5
against_flying                       2
against_psychic                      1
against_bug                          2
against_rock                         2
against_ghost                        1
against_dragon                       1
against_dark                         1
against_steel                        2
against_fairy                        1
Name: 0, dtype: object

In [47]:
pokemon.iloc[1:3]

,Name,index,Unnamed: 0,pokedex_number,german_name,japanese_name,generation,status,species,type_number,...,against_ground,against_flying,against_psychic,against_bug,against_rock,against_ghost,against_dragon,against_dark,against_steel,against_fairy
1,Abra,81,81,63,Abra,ケーシィ (Casey),1,Normal,Psi Pokémon,1,...,1.0,1.0,0.5,2.0,1.0,2.0,1.0,2.0,1.0,1.0
2,Absol,424,424,359,Absol,アブソル (Absol),3,Normal,Disaster Pokémon,1,...,1.0,1.0,0.0,2.0,1.0,0.5,1.0,0.5,1.0,2.0

In [48]:
pokemon.iloc[[1, 3, 5]]

,Name,index,Unnamed: 0,pokedex_number,german_name,japanese_name,generation,status,species,type_number,...,against_ground,against_flying,against_psychic,against_bug,against_rock,against_ghost,against_dragon,against_dark,against_steel,against_fairy
1,Abra,81,81,63,Abra,ケーシィ (Casey),1,Normal,Psi Pokémon,1,...,1.0,1.0,0.5,2.00,1.0,2.0,1.0,2.0,1.0,1.0
3,Accelgor,715,715,617,Hydragil,アギルダー (Agilder),5,Normal,Shell Out Pokémon,1,...,0.5,2.0,1.0,1.00,2.0,1.0,1.0,1.0,1.0,1.0
5,Aegislash Shield Forme,790,790,681,Durengard,ギルガルド (Gillgard),6,Normal,Royal Sword Pokémon,2,...,2.0,0.5,0.5,0.25,0.5,2.0,0.5,2.0,0.5,0.5

In [49]:
print(pokemon.iloc[3])
pokemon.iloc[3, 1]

Name                         Accelgor
index                             715
Unnamed: 0                        715
pokedex_number                    617
german_name                  Hydragil
japanese_name         アギルダー (Agilder)
generation                          5
status                         Normal
species             Shell Out Pokémon
type_number                         1
type_1                            Bug
type_2                            NaN
height_m                          0.8
weight_kg                        25.3
abilities_number                    3
ability_1                   Hydration
ability_2                 Sticky Hold
ability_hidden               Unburden
total_points                      495
hp                                 80
attack                             70
defense                            40
sp_attack                         100
sp_defense                         60
speed                             145
catch_rate                         75
base_friendship                    70
base_experience                   173
growth_rate               Medium Fast
egg_type_number                     1
egg_type_1                        Bug
egg_type_2                        NaN
percentage_male                    50
egg_cycles                         15
against_normal                      1
against_fire                        2
against_water                       1
against_electric                    1
against_grass                     0.5
against_ice                         1
against_fight                     0.5
against_poison                      1
against_ground                    0.5
against_flying                      2
against_psychic                     1
against_bug                         1
against_rock                        2
against_ghost                       1
against_dragon                      1
against_dark                        1
against_steel                       1
against_fairy                       1
Name: 3, dtype: object

715

In [50]:
pokemon.iloc[[3,9,18], [1,4,5]]

    index german_name    japanese_name
3     715    Hydragil  アギルダー (Agilder)
9      83     Simsala   フーディン (Foodin)
18    136      Knogga  ガラガラ (Garagara)

Para poder usar el método .loc[] necesitamos que el dataframe tenga un índice con etiquetas

In [51]:
pokemon.set_index('Name',inplace=True)
pokemon.head(2)

,index,Unnamed: 0,pokedex_number,german_name,japanese_name,generation,status,species,type_number,type_1,...,against_ground,against_flying,against_psychic,against_bug,against_rock,against_ghost,against_dragon,against_dark,against_steel,against_fairy
Name,,,,,,,,,,,,,,,,,,,,,
Abomasnow,542,542,460,Rexblisar,ユキノオー (Yukinooh),4,Normal,Frost Tree Pokémon,2,Grass,...,0.5,2.0,1.0,2.0,2.0,1.0,1.0,1.0,2.0,1.0
Abra,81,81,63,Abra,ケーシィ (Casey),1,Normal,Psi Pokémon,1,Psychic,...,1.0,1.0,0.5,2.0,1.0,2.0,1.0,2.0,1.0,1.0

In [54]:
pokemon.loc['Ivysaur', "type_1"]

'Grass'

## Modificar la estructura de los datos

### Pivot y melt

Existen varias métodos que nos permiten transformar la estructura de las tablas, haciendo agrupaciones de datos, trasladando índices de columnas a filas y agrupando varias columnas en otras nuevas. Estos son los métodos pivot y melt.

La función **pivot** se usa para crear una nueva tabla derivada a partir de otra.

In [66]:
from collections import OrderedDict

In [67]:
table = OrderedDict((
    ("Item", ['Item0', 'Item0', 'Item1', 'Item1']),
    ('CType',['Gold', 'Bronze', 'Gold', 'Silver']),
    ('USD',  ['1$', '2$', '3$', '4$']),
    ('EU',   ['1€', '2€', '3€', '4€'])
))
df = pd.DataFrame(table)

In [68]:
df.head()

    Item   CType USD  EU
0  Item0    Gold  1$  1€
1  Item0  Bronze  2$  2€
2  Item1    Gold  3$  3€
3  Item1  Silver  4$  4€

In [69]:
df = df.pivot(index="Item", columns="CType", values="USD")
df

CType Bronze Gold Silver
Item
Item0     2$   1$    NaN
Item1    NaN   3$     4$

Por último tenemos la operación **melt**, que nos permite realizar la agrupación de varias columnas relacionadas en una nueva.

In [70]:
data = {'weekday': ["Monday", "Tuesday", "Wednesday", 
         "Thursday", "Friday", "Saturday", "Sunday"],
        'Person 1': [12, 6, 5, 8, 11, 6, 4],
        'Person 2': [10, 6, 11, 5, 8, 9, 12],
        'Person 3': [8, 5, 7, 3, 7, 11, 15]}
df = pd.DataFrame(data, columns=['weekday',
        'Person 1', 'Person 2', 'Person 3'])

In [71]:
df.head()

     weekday  Person 1  Person 2  Person 3
0     Monday        12        10         8
1    Tuesday         6         6         5
2  Wednesday         5        11         7
3   Thursday         8         5         3
4     Friday        11         8         7

In [72]:
melted = pd.melt(df, id_vars=["weekday"], 
                 var_name="Person", value_name="Score")
melted

      weekday    Person  Score
0      Monday  Person 1     12
1     Tuesday  Person 1      6
2   Wednesday  Person 1      5
3    Thursday  Person 1      8
4      Friday  Person 1     11
5    Saturday  Person 1      6
6      Sunday  Person 1      4
7      Monday  Person 2     10
8     Tuesday  Person 2      6
9   Wednesday  Person 2     11
10   Thursday  Person 2      5
11     Friday  Person 2      8
12   Saturday  Person 2      9
13     Sunday  Person 2     12
14     Monday  Person 3      8
15    Tuesday  Person 3      5
16  Wednesday  Person 3      7
17   Thursday  Person 3      3
18     Friday  Person 3      7
19   Saturday  Person 3     11
20     Sunday  Person 3     15

## Ejercicios

### Ejercicio 1 

Dado el fichero de datos datasets/chipotle.tsv

- a. Cargue el fichero en un dataframe y estudie las estructura de los datos
- b. Transforme la columna item_price a float.
- c. Cuantos productos cuestan más de 10$
- d. ¿Cual es la cantidad del producto más caro ordenado?
- e. ¿Cuantas veces los cientes consumen más de una Canned Soda?

#### Solución Ejercicio 1

Cargue el fichero en un dataframe y estudie las estructura de los datos

In [75]:
df = pd.read_csv("/home/bigdatafutura/notebooks/sesion 02/files/chipotle.tsv",
                sep="\t")
df.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [76]:
df.describe(include="all")

           order_id     quantity     item_name choice_description item_price
count   4622.000000  4622.000000          4622               3376       4622
unique          NaN          NaN            50               1043         78
top             NaN          NaN  Chicken Bowl        [Diet Coke]     $8.75
freq            NaN          NaN           726                134        730
mean     927.254868     1.075725           NaN                NaN        NaN
std      528.890796     0.410186           NaN                NaN        NaN
min        1.000000     1.000000           NaN                NaN        NaN
25%      477.250000     1.000000           NaN                NaN        NaN
50%      926.000000     1.000000           NaN                NaN        NaN
75%     1393.000000     1.000000           NaN                NaN        NaN
max     1834.000000    15.000000           NaN                NaN        NaN

Transforme la columna item_price a float

In [77]:
df.dtypes

order_id               int64
quantity               int64
item_name             object
choice_description    object
item_price            object
dtype: object

In [78]:
float(df["item_price"][0].replace("$",""))

2.39

In [79]:
float(df["item_price"][0][1:])

2.39

In [80]:
df["item_price"] = df["item_price"].map(lambda x: float(x.replace("$","")))
df["item_price"].head()

0     2.39
1     3.39
2     3.39
3     2.39
4    16.98
Name: item_price, dtype: float64

Cuantos productos cuestan más de 10$

In [81]:
df[df["item_price"] > 10]["item_name"]

4             Chicken Bowl
5             Chicken Bowl
7            Steak Burrito
13            Chicken Bowl
23         Chicken Burrito
               ...
4610         Steak Burrito
4611        Veggie Burrito
4617         Steak Burrito
4618         Steak Burrito
4619    Chicken Salad Bowl
Name: item_name, Length: 1130, dtype: object

In [82]:
df

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",8.75

In [83]:
items = df[df["item_price"] > 10].drop_duplicates(subset="item_name", keep="first")[["item_name", "item_price"]]
items.shape

(31, 2)

In [84]:
items = df.drop_duplicates(subset="item_name", keep="first")[["item_name", "item_price"]]
items.shape

(50, 2)

In [85]:
items[items["item_price"] > 10].shape

(13, 2)

¿Cual es la cantidad del producto más caro ordenado?

In [86]:
items

                                  item_name  item_price
0              Chips and Fresh Tomato Salsa        2.39
1                                      Izze        3.39
2                          Nantucket Nectar        3.39
3     Chips and Tomatillo-Green Chili Salsa        2.39
4                              Chicken Bowl       16.98
6                             Side of Chips        1.69
7                             Steak Burrito       11.75
8                          Steak Soft Tacos        9.25
10                      Chips and Guacamole        4.45
11                     Chicken Crispy Tacos        8.75
12                       Chicken Soft Tacos        8.75
16                          Chicken Burrito        8.49
18                              Canned Soda        2.18
21                         Barbacoa Burrito        8.99
27                         Carnitas Burrito        8.99
33                            Carnitas Bowl        8.99
34                            Bottled Water        1.09
38    Chips and Tomatillo Green Chili Salsa        2.95
39                            Barbacoa Bowl       11.75
40                                    Chips        2.15
44                       Chicken Salad Bowl        8.75
54                               Steak Bowl        8.99
56                      Barbacoa Soft Tacos        9.25
57                           Veggie Burrito       11.25
62                              Veggie Bowl       11.25
92                       Steak Crispy Tacos        9.25
111     Chips and Tomatillo Red Chili Salsa        2.95
168                   Barbacoa Crispy Tacos       11.75
186                       Veggie Salad Bowl       11.25
191      Chips and Roasted Chili-Corn Salsa        2.39
233      Chips and Roasted Chili Corn Salsa        2.95
237                     Carnitas Soft Tacos        9.25
250                           Chicken Salad       10.98
263                       Canned Soft Drink        1.25
281                        Steak Salad Bowl       23.78
298                       6 Pack Soft Drink        6.49
300     Chips and Tomatillo-Red Chili Salsa        2.39
445                                    Bowl       22.20
510                                 Burrito        7.40
520                            Crispy Tacos        7.40
554                   Carnitas Crispy Tacos        9.25
664                             Steak Salad        8.99
674       Chips and Mild Fresh Tomato Salsa        3.00
738                       Veggie Soft Tacos       11.25
1132                    Carnitas Salad Bowl       11.89
1229                    Barbacoa Salad Bowl       11.89
1414                                  Salad        7.40
1653                    Veggie Crispy Tacos        8.49
1694                           Veggie Salad        8.49
3750                         Carnitas Salad        8.99

In [87]:
item = items[["item_price"]].apply(np.argmax)
item = items.loc[item]["item_name"]

In [88]:
item

34    Bottled Water
Name: item_name, dtype: object

In [89]:
str()

''

In [90]:
df[df["item_name"] == item.values[0]][["quantity"]].apply(sum)

quantity    211
dtype: int64

¿Cuantas veces los cientes consumen más de una Canned Soda?

In [91]:
df[(df["item_name"] == "Canned Soda") & (df["quantity"] > 1)].shape

(20, 5)